@page "/"
@using System.Net.WebSockets
@using System.Text
@using System.Text.Json
@using QueLib.Models

<PageTitle>Home</PageTitle>


<input @bind="name" placeholder="Nome" />
<input @bind="lastname" placeholder="Cognome" />
<button @onclick="SendMessage">Invia</button>



@foreach (var persona in Persone)
{
    <p>@persona.Name @persona.Lastname</p>
}

@code {
    private string name;
    private string lastname;
    private readonly HttpClient _httpClient = new();
    public List<Persona> Persone { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        
        using (var ws = new ClientWebSocket())
        {
            await ws.ConnectAsync(new Uri("ws://localhost:5143/ws"), CancellationToken.None);
            var buffer = new byte[256];
            while (ws.State == WebSocketState.Open)
            {
                var result = await ws.ReceiveAsync(buffer, CancellationToken.None);
                if (result.MessageType == WebSocketMessageType.Close)
                {
                    await ws.CloseAsync(WebSocketCloseStatus.NormalClosure, null, CancellationToken.None);
                }
                else
                {
                    Persone.Add(JsonSerializer.Deserialize<Persona>(Encoding.ASCII.GetString(buffer, 0, result.Count)));
                    Console.WriteLine(Encoding.ASCII.GetString(buffer, 0, result.Count));
                }
            }
        }
    }

    private async Task SendMessage()
    {
        try
        {
            Persona persona = new Persona(name, lastname);
            await _httpClient.PostAsJsonAsync("http://localhost:5143/Que/publish", persona);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}